/* 
color
*/
$themecolor:#7682FA;
$whitecolor:#fff;
$greencolor: #42b983;
/* 
fontsize
*/
$size32:.32rem;
$size21:.21rem;
$size25:.25rem;

/* 
mixin
*/
@mixin radius($radius:50%){
    border-radius: $radius;
}

@mixin linecenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
@mixin flex{
    display: flex;
    flex-direction:  column;
    height: 100%;
}
